/* src/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background-color: #333;
    color: #fff;
    height:80px;
  }
  
  .navbar-logo {
    font-size: 2rem;
    
  }
  
  .navbar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #333;
    width: 200px;
    height: 100vh;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    font-size:1.25rem;
  }
  /* Navbar.css */
/* Navbar.css */
.close-icon {
    display: none; /* Initially hide the close icon */
    position: absolute; /* Position the close icon */
    top: 10px; /* Adjust top position */
    right: 10px; /* Adjust right position */
    cursor: pointer; /* Add cursor pointer for interaction */
    z-index: 1; /* Ensure it's above other content */
  }
  
  
  
  .navbar-menu.open {
    transform: translateX(0);
    display: flex;
    width: 400px; /* Adjust width for dropdown menu */
    position: absolute; /* Ensure it overlays other content */
    top: 80px; /* Adjust based on navbar height */
    right: 0; /* Align to the right */
    background-color: #333; /* Set background color */
    z-index: 1000; /* Ensure it's above other content */
  }
  
  .navbar-link {
    padding: 0.5rem 1rem;
    color: #fff;
    text-decoration: none;
    display: block;
    font-size:1.25rem;    
  }
  
  .navbar-link:hover {
    background-color: #555;
  }
  
  .navbar-toggle {
    cursor: pointer;
    font-size: 2rem;
  }
  
  @media (min-width: 5000px) {
    .navbar-menu {
      flex-direction: row;
      position: static;
      height: auto;
      width: auto;
      transform: translateX(0);
      background-color: transparent;
    }

  
    .navbar-link {
      padding: 0 1rem;
    }
  
    .navbar-toggle {
      display: none;
    }
  }
  .iconsize{
    font-size:4rem;
  }
  .navbar-search{
    position:relative;
    height:
  }
  .search-input{
    padding:0.5rem;
    border-radius:4px;
    border:1px solid #ccc;
    outline:none;
    width:200px;
    color:black;
    background-color:white;
  }
  